:root {
    --r-background-color: #EEEEEE;
    --r-main-color: #111012;
}

body::after {
    content: url("../images/devoxx_logo.png");
    position: fixed;
    left: 0;
    bottom: 10px;
}

.reveal section h1 {
    color: white;
}

.reveal section h1+div.preamble>div.paragraph>p {
    color: white;
}

.reveal ul {
    list-style-type: none;
}

.light h2 {
    color: var(--r-background-color);
    -webkit-text-stroke: 2px black;
    text-stroke: 2px black;
    font-size: var(--r-heading2-size);
}


.transparency.slide-background.present {
    opacity: 0.30;
}

.big {
    font-size: 60px;
    color: #012d3f;
}

.red {
    color: #111012;
}

img {
    border-radius: 10px;
}


.reveal .progress {
    color: #54B49C;
    height: 7px;
}

.vertical-align-middle > p {
    vertical-align: middle;
}

.vertical-align-middle > p > span {
    vertical-align: middle;
    margin: 0;
}

.vertical-align-middle > p > span > img {
    vertical-align: middle;
    margin: 0;
}

.important-text > * {
    font-size: xxx-large;
    font-weight: bold;
    color: #012d3f;
}

.small {
    font-size: small;
}

.medium {
    font-size: 38px;
}

.column.has-text-right > div > div.hdlist.small > table {
    margin-right: 0;
}

.column.has-text-left > div > div.hdlist.small > table {
    margin-left: 0;
}

.blur {
    filter: blur(4px);
}
