*.iml
.idea
target
.DS_Store
reveal.js/
*.html
.asciidoctor
!index-docinfo-footer.html
js/highlight/
!js/highlight/.gitkeep
code/age.key
code/*.secrets.yaml
code/recipients/secrets.*.yaml
code/recipients/*.key

code/demo-magic.sh

# generated image
images/plugin-manager-evil.svg
images/plugin-manager.svg

highlight.js/