*.iml
.idea
target
.DS_Store
reveal.js/
*.html
.asciidoctor
!index-docinfo-footer.html
js/hightlight.min.js
code/age.key
code/*.secrets.yaml
code/recipients/secrets.*.yaml
code/recipients/*.key
code/recipients/.sops.yaml

code/demo-magic.sh

# generated image
images/plugin-manager-evil.svg
images/plugin-manager.svg

